extends base_layout 

block content 
    div(class="container")
        a(href="/createuser", class="text-decoration-none") Create User 
        br
        a(href="/viewuser", class="text-decoration-none") View User 